.questionPage_wrapper{
    
    padding: 5% 15% 15% 5%;
}
.question_views_eye{
    object-fit: contain;
    width: 1.5em;
}
.question_views_count{
        color: black;
     margin-left: 5px;
}
 
.questionPage_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.questionPage_header_left{
    display: flex;
    flex-direction: column;
}
.question_category_container{
    color: black;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    
    
}
.question_category{
    cursor: pointer;
    font-weight: 600;
    color: black;
}
.question_subcategory{
    cursor: pointer;
    font-weight: 600;
    color: rgb(49, 49, 49);
}
.question_category:hover{
    color:teal;
    text-decoration: underline;
}
.question_subcategory:hover{
    color:teal;
    text-decoration: underline;
}
.question_id{
    font-size: 1.2em;
}
.question_date{
    margin :1em 0;
    text-decoration: underline;
    color: gray;

}

.question_title{
    color:teal;
    font-size: 1.5em;
    font-weight: 600;
}
.question_views{
    display: flex;
    align-items: center;
}
.questionPage_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body_author{
    font-size: 1.5em;
}
.body_author_name{
    color: teal;
    cursor: pointer;
    text-transform: capitalize;
}
.body_author_name:hover{
    filter: brightness(1.5);
}

.body_text{
    margin: 1em 0;
    width: 100%;
    padding: 2em;
    color: black;
    background-color: #fafafa;
    border-radius: 10px;
}
.body_review{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.answerGiven{
    color:green;
    font-size: 1.1em;
    font-weight: 600;
}
.answerNotGiven{
    color:red;
    font-size: 1.1em;
    font-weight: 600;
}
.low_rating{
    color: red;
}
.medium_rating{
 color: orange;
}
.high_rating{
    color: green;
}
.questionPage_answers{
    margin-top: 2em;
    width: 100%;
}
.answers_header{
    user-select: none;
    width: 100%;
    color: black;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 2px solid teal;
    margin-bottom: 1em;
}
.totalAnswers{
    font-size: 1.1em;
}
.answers_add_wrapper{
    margin-top: 1em;
    --main-border-color: teal;
    border-radius: 10px;
    border:1px solid var(--main-border-color);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
                   
.answer_add_left{
    padding: 0.5em;
    border-right: 1px solid var(--main-border-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left_avatar{
    object-fit: contain;
    width: 100%;
    height: 128px;
}
.left_name{
    cursor: pointer;
    font-weight: 600;
    color: teal;
}
.left_name:hover{
    filter: brightness(1.5);
}
.answer_add_right{
    padding: 0.5em;
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.right_text{
    background-color: #FAFAFA;
    font-size: 1.1em;
}

.addAnswer_form__button{
    margin-top: 10px;
    padding: 0.9em 2em;
    font-size: .9em;
    background-color: teal;
    color:white;
    border-radius: 10px;
    text-align: center;
    transition-property: all;
}
.addAnswer_form__button:hover{
    filter:brightness(1.5);
    transition: 0.35s;
}
.add_form{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}