.container{
    margin-top: 2em;
}
.textarea{
    box-sizing: border-box;
    width: 100%;
    resize:none;
    padding: 1em;
    outline: none;
    border: 1px solid teal;
    border-radius: 10px;
    transition-property: all;
    overflow: hidden;
    font-size: 1em;
}

.textarea:hover{
    border: 1px solid rgb(0, 180, 180);
    transition: 0.25s;
}
.textarea_error{
    border: 1px solid rgb(255, 27, 27)!important;
}
.container{
    width: 100%;
}
.error_message{
    color:rgb(255, 27, 27);
}